.btn-general{
    box-shadow: 0 1.25rem 2.1875rem 0 rgb(241 165 1 / 15%);
    color: #FFFEFE !important;
    background-color: #F1A501;
    width: fit-content;
    padding: 15px 30px;
    &:hover{
        background-color: #d89506;
        @include transition(all, 0.3s, linear, 0s);
    }
}