.info-section {
  background: #efefef;
  padding: 110px 0;

  .text-bg{
    position: absolute;
    font-size: 147px;
    width: 42%;
    left: -5vw;
    z-index: 1;
    font-weight: 900;
    -webkit-text-stroke: 1px #D9D9D9;
    color: transparent;
  }
  .image-container-row {
    position: relative;
    z-index: 10;  
  }
  .image-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    height: 100%;
    position: relative;

    .title {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: end;
      padding: 15px;
      align-items: baseline;
      flex-direction: column;
      z-index: 100;
      top: 0;
      color: white;
        font-weight: bolder;
        span{
          -webkit-text-stroke: 0.5px #f9fafb;
          color: transparent;
          text-shadow: 1px 16px 0 rgb(255 255 255), -9px -5px 0 rgb(0 0 0 / 0%);
  
        }
    }
    .img {
      height: 240px;
      position: relative;
      min-height: 20vh;
      .icon{
        padding-right: 5px;
      }
      &::before {
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgb(37 55 118 / 33%);
      }
      .overlay-btn{
        padding: 0;
        margin-top: 30px;
        opacity: 0;
      }
      &:hover{
        &::before{
          background-color: rgb(37 55 118 / 70%);
          transition: all 0.2s linear 0s;

        }
        .overlay-btn{
          opacity: 1;
          transition: all 0.3s linear 0s;

        }
      }
    }
    .space {
      height: 60px;
      background: #f215b6;
      min-height: 5vh;
    }

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }

    #item-0 {
      grid-row-start: 1;
      grid-column-start: 5;

      grid-row-end: 3;
      grid-column-end: 7;
    }
    #item-1 {
      grid-row-start: 3;
      grid-column-start: 5;

      grid-row-end: 5;
      grid-column-end: 7;
    }
    #item-2 {
      grid-row-start: 2;
      grid-column-start: 3;

      grid-row-end: 4;
      grid-column-end: 5;
    }
    #item-3 {
      grid-row-start: 4;
      grid-column-start: 3;
      grid-row-end: 6;
      grid-column-end: 5;
    }
    #item-4 {
      grid-row-start: 3;
      grid-column-start: 1;
      grid-row-end: 5;
      grid-column-end: 3;
    }
    #item-5 {
      grid-row-start: 5;
      grid-column-start: 5;
      grid-row-end: 11;
      grid-column-end: 7;
    }
  }

  .content {
    min-height: 40vh;
    background: #f215b6;
    height: 480px;
    display: flex;
    flex-direction: column;
    background: #f215b6;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
    text-align: end;
    .h2 {
      font-weight: 700;
      line-height: 1.2;
    }
    p {
      line-height: 1.5;
    }
  }

  @media only screen and (max-width: 767px) {
    .image-container-row {
      flex-direction: column-reverse;
    }
    .image-container {
      display: flex;
      flex-wrap: wrap;
      .img {
        width: 50%;
        &:nth-last-child(2) {
          width: 100%;
        }
      }
      .space {
        display: none;
      }
    }
  }
}
