body{
    font-family: var(--font-primary);
}
.p-font{
    font-family: var(--font-primary) !important;
}

.color-primary{
	color: var(--color-primary) !important;
}

.color-secondary{
	color: var(--color-secondary) !important;
}

.bg-primary{
	background-color: var(--color-primary) !important;
}

.bg-secondary{
	background-color: var(--color-secondary) !important;
}

.h1{
	@include fluid(font-size, 50px, 75px);
}

.h2{
    @include fluid(font-size, 45px, 55px);
}

.h3{
	@include fluid(font-size, 40px, 50px);
}

.h4{
	@include fluid(font-size, 30px, 40px);
}

.h5{
	@include fluid(font-size, 18px, 20px);
}

.h6{
	@include fluid(font-size, 14px, 18px);
}

.p-f-5{
	@include fluid(font-size, 13px, 13px);
}

.p-f-4{
	@include fluid(font-size, 12px, 16px);
}

.p-f-3{
	@include fluid(font-size, 19px, 21px);
}

.p-f-2{
	@include fluid(font-size, 20px, 25px);
}

.p-f-1{
	@include fluid(font-size, 22px, 28px);
}

